.nav-1 {
    .navbar-brand {
        font-size: 24px;
        line-height: 0;
        height: 0;
        padding: 40px 15px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
    }
    
    .menu {
        margin-top: 30px;
    }
    
    &.shrink {
        .navbar-brand {
            padding: 29px 15px;
        }
    }
}

.white-text-link {
    color: #fff;
    
    &:hover {
        color: #fff;
        opacity: .8;
        text-decoration: underline;
    }
}

.black-text-link {
    color: #222 !important;
    
    &:hover {
        color: #b6cf6c !important;
    }
}